
@Html.Partial("~/Areas/AutoDriveMain/Views/TraineeEvaluation/IndexGetTraineeEvaluation.cshtml")




@*<style>
    .modal-body {
        height: auto !important;
    }
</style>*@


@*Creat apopup Modal For Add And Edit*@
@*<div class="modal fade" id="MyModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h4 id="Modaltitle"></h4>
                </div>
                <div class="modal-body" style="height:138px">
                    <form id="form">
                        <div class="form-horizontal">

                            @Html.HiddenFor(m => m.ID, new { @id = "speechLanguage_ID" })
                            <div class="form-group">
                                @Html.Label("اللغه بالعربيه", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "اللغه بالعربيه" })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                                @Html.Label("اللغه بالانجليزيه", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(m => m.EnName, new { @class = "form-control", @placeholder = "اللغه بالانجليزيه" })
                                    @Html.ValidationMessageFor(model => model.EnName, "", new { @class = "text-danger" })
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="text-left">
                        <a href="#" class="btn btn-primary" id="SaveSpeechLanguage">حفظ</a>
                        <a href="#" class="btn btn-primary" data-dismiss="modal">الغاء</a>

                    </div>
                </div>
            </div>
        </div>
    </div>*@

@*Creat Popup For Delete*@
@*<div id="DeletDiv" class="d-none">

</div>*@


    
   

       





