
<li>
    <a><i class="fa fa-lock"></i> @Messages.BasicCode <span class="fa fa-chevron-down"></span></a>
    <ul class="nav child_menu">
        <li>
            <a href="~/hr/country/index">
                <i><img src="~/Images/امر شغل.png" /></i>  <span>@Messages.Countrys</span>
            </a>
        </li>
        <li>
            <a href="~/hr/Area/index">
                <i><img src="~/Images/امر شغل.png" /></i>  <span>@Messages.Area</span>
            </a>
        </li>

        <li>
            <a href="~/hr/Nationality/index">
                <i><img src="~/Images/امر شغل.png" /></i>  <span>@Messages.Nationality</span>
            </a>
        </li>
        <li>
            <a href="~/hr/BloodGroup/index">
                <i><img src="~/Images/امر شغل.png" /></i>  <span>@Messages.BloodGroup</span>
            </a>
        </li>
        <li>
            <a href="~/hr/Religion/index">
                <i><img src="~/Images/امر شغل.png" /></i>  <span>@Messages.Religion</span>
            </a>
        </li>
        <li>
            <a href="~/hr/LicenceTypeHR/index">
                <i><img src="~/Images/امر شغل.png" /></i>  <span>@Messages.LicenceTypeHR</span>
            </a>
        </li>

        <li>
            <a href="~/hr/CertificationType/index">
                <i><img src="~/Images/امر شغل.png" /></i>  <span>@Messages.CertificationType</span>
            </a>
        </li>
        <li>
            <a href="~/hr/MaritalStatu/index">
                <i><img src="~/Images/امر شغل.png" /></i>  <span>@Messages.MaritalStatu</span>
            </a>
        </li>
        <li>
            <a href="~/hr/CarrerField/index">
                <i><img src="~/Images/امر شغل.png" /></i>  <span>@Messages.CarrerField</span>
            </a>
        </li>
        <li>
            <a href="~/hr/MotivationType/index">
                <i><img src="~/Images/امر شغل.png" /></i>  <span>@Messages.MotivationType</span>
            </a>
        </li>
        <li>
            <a href="~/hr/CertificationSpecific/index">
                <i><img src="~/Images/امر شغل.png" /></i>  <span>@Messages.CertificationSpecifics</span>
            </a>
        </li>
        <li>
            <a href="~/hr/CertificationSpecDepart/index">
                <i><img src="~/Images/امر شغل.png" /></i>  <span>@Messages.CertificationSpecDeparts</span>
            </a>
        </li>
    </ul>
</li>

<li id="LiHumanResourceSetings">
    <a><i class="fa fa-lock"></i> @Messages.SettingMenu <span class="fa fa-chevron-down"></span></a>
    <ul class="nav child_menu" id="ulHumenResourceSetings">
        <li>
            <a href="~/hr/Department/index">
                <i><img src="~/Images/امر شغل.png" /></i>  <span>@Messages.Departments</span>
            </a>
        </li>
        <li>
            <a href="~/hr/Item/index">
                <i><img src="~/Images/امر شغل.png" /></i>  <span>@Messages.Item</span>
            </a>
        </li> 
        <li>
            <a href="~/hr/ArchiveSettingHR/index">
                <i><img src="~/Images/امر شغل.png" /></i>  <span>@Messages.ArchiveSettingHRs</span>
            </a>
        </li>
        <li id="liEmployeeEdit">
            <a href="~/hr/Employee/index">
                <i><img src="~/Images/امر شغل.png" /></i>  <span>@Resources.Employee</span>
            </a>
        </li>
        <li id="liEmployeeEdit">
            <a href="~/hr/EmployeeVacationAccount/index">
                <i><img src="~/Images/امر شغل.png" /></i>  <span>@Resources.EmployeeVacationAccount</span>
            </a>
        </li>
        <li id="liEmployeeEdit">
            <a href="~/hr/WorkingHoursSettingHR/index">
                <i><img src="~/Images/امر شغل.png" /></i>  <span>@Resources.continuityNames</span>
            </a>
        </li>
    </ul>
</li>

<li>
    <a><i class="fa fa-lock"></i> @Messages.Operation <span class="fa fa-chevron-down"></span></a>
    <ul class="nav child_menu">
        <li>
            <a href="~/hr/Employee/AddEmployee">
                <i><img src="~/Images/امر شغل.png" /></i>  <span>@Messages.AddEmployee</span>
            </a>
        </li>
        <li>
            <a href="~/hr/EmployeeVacation/Index">
                <i><img src="~/Images/امر شغل.png" /></i>  <span>@Resources.EmployeeVacation</span>
            </a>
        </li>
        <li>
            <a href="~/hr/Honesty/Employees">
                <i><img src="~/Images/امر شغل.png" /></i>  <span>@Resources.AddEmployeeHonesty</span>
            </a>
        </li>

        <li>
            <a href="~/hr/ArchiveDocument/Index">
                <i><img src="~/Images/امر شغل.png" /></i>  <span>@Messages.ArchiveDocument</span>
            </a>
        </li>
        <li>
            <a href="~/HR/EmployeeVacationAccount/VacationAccountInquiryIndex">
                <i><img src="~/Images/امر شغل.png" /></i>  <span>@Resources.VacationAccountInquiry</span>
            </a>
        </li>
        <li>
            <a href="~/HR/WorkingHoursSettingDetialsHR/Index">
                <i><img src="~/Images/امر شغل.png" /></i>  <span>@Resources.WorkingHourDetials</span>
            </a>
        </li>
        <li>
            <a href="~/HR/ReceivingHonesty/Index">
                <i><img src="~/Images/امر شغل.png" /></i>  <span>@Messages.ReceivingHonestyFromEmployee</span>
            </a>
        </li>
        <li>
            <a href="~/HR/EmployeeAttendance/Index">
                <i><img src="~/Images/امر شغل.png" /></i>  <span>@Resources.AttendanceDeparture</span>
            </a>
        </li>
    </ul>

</li>