<li>
    <a><i class="fa fa-lock"></i> @Messages.BasicCode <span class="fa fa-chevron-down"></span></a>
    <ul class="nav child_menu">


        <li>
            <a href="~/Payroll/JobDegree/Index">
                <i><img src="~/Images/امر شغل.png" /></i>  <span>@Resources.JobDegree</span>
            </a>
        </li>
        <li>
            <a href="~/Payroll/JobLevel/Index">
                <i><img src="~/Images/امر شغل.png" /></i>  <span>@Resources.JobLevel</span>
            </a>
        </li>




    </ul>
</li>

<li>
    <a>
        <i class="fa fa-lock"></i>  @Messages.SettingMenu  <span class="fa fa-chevron-down"></span>
    </a>
    <ul class="nav child_menu">
        <li>
            <a href="~/Payroll/IncreasesDeductionType/Index">
                <i><img src="~/Images/امر شغل.png" /></i>  <span>@Resources.IncreasingDeductionType</span>
            </a>
        </li>
        <li>
            <a href="~/Payroll/IncreasingDeductionSetting/Index">
                <i><img src="~/Images/امر شغل.png" /></i>  <span>@Resources.IncreasesAndDeductions</span>
            </a>
        </li>

        <li>
            <a href="~/Payroll/BasicSalarySetting/Index">
                <i><img src="~/Images/امر شغل.png" /></i>  <span>@Resources.BasicSalaryAndChanged</span>
            </a>
        </li>
        <li>
            <a href="~/Payroll/ViolationType/Index">
                <i><img src="~/Images/امر شغل.png" /></i>  <span>@Resources.ViolationType</span>
            </a>
        </li>
    </ul>
</li>
<li>
    <a>
        <i class="fa fa-lock"></i> @Messages.Operation  <span class="fa fa-chevron-down"></span>
    </a>
    <ul class="nav child_menu">
        <li>
            <a href="~/Payroll/MotivationEmployee/Index">
                <i><img src="~/Images/امر شغل.png" /></i>  <span>@Resources.MotivationEmployee</span>
            </a>
        </li>
        <li>
            <a href="~/Payroll/EmployeeViolation/Index">
                <i><img src="~/Images/امر شغل.png" /></i>  <span>@Resources.EmployeeViolation</span>
            </a>
        </li>
        <li>
            <a href="~/Payroll/Salaries/Index">
                <i><img src="~/Images/امر شغل.png" /></i>  <span>@Resources.EmployeesSalaries</span>
            </a>
        </li>
        <li>
            <a href="~/Payroll/Salaries/IndexSalaryApproval">
                <i><img src="~/Images/امر شغل.png" /></i>  <span>@Resources.SalaryApproval</span>
            </a>
        </li>
        <li>
            <a href="~/Payroll/EmployeeLoan/Index">
                <i><img src="~/Images/امر شغل.png" /></i>  <span>@Resources.EmployeeLoan</span>
            </a>
        </li>
        <li>
            <a href="~/Payroll/EmployeeLoan/LoanPaymentIndex">
                <i><img src="~/Images/امر شغل.png" /></i>  <span>@Resources.LoanPayment</span>
            </a>
        </li>
        <li>
            <a href="~/Payroll/VacationDeductions/Index">
                <i><img src="~/Images/امر شغل.png" /></i>  <span>@Resources.VacationDeductions</span>
            </a>
        </li>
        <li>
            <a href="~/Payroll/Salaries/EmployeeSalaryIndex">
                <i><img src="~/Images/امر شغل.png" /></i>  <span>@Resources.EmployeeSalary</span>
            </a>
        </li>
    </ul>
</li>
